<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="users new">
		<h2>Create User</h2>

		<%= form_for(:user, :url => {:action => 'create'}) do |f| %>

		<table summary="User form fields">
			<tr>
				<th>User Name</th>
				<td><%= f.text_field(:user_name) %></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><%= f.text_field(:password) %></td>
			</tr>
		</table>
		<div class="form-buttons">
			<%= submit_tag("Create User") %>
		</div>

		<% end %>
	</div>